* {
    outline: 1px dotted red;
}

/*-----------------STYLE-----------------*/

body {
    background-color: #f2c6ce;
}

main {
    background-color: white;
    padding: 1em;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

nav {
    margin: auto;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    margin: 1em;
}

a:hover {
    background-color: #f5e9eb;
}

.figurerparent {
    display: flex;
}

.figurerchild {
    flex-basis: 100px;
    flex-grow: 1;
}

/*-----------------SCENE-----------------*/

.baggrund {
    background-image: url("baggrund.png");
    background-size: cover;
    width: 100vw;
    height: 56vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.mellemgrund {
    background-image: url("mellemgrund.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 2;
}

.forgrund {
    background-image: url("forgrund.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 99;
}

.sten {
    background-image: url("sten.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 50;
}

.skys {
    background-image: url("skys.png");
    background-repeat: no-repeat;
    background-size: 20vw;
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 100vw;
    top: -5vw;

    animation-name: skys;
    animation-duration: 90s;
    animation-delay: -10s;
    animation-iteration-count: infinite;
}

.skym {
    background-image: url("skym.png");
    background-repeat: no-repeat;
    background-size: 20vw;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 0vw;
    left: 100vw;

    animation-name: skym;
    animation-duration: 60s;
    animation-delay: -15s;
    animation-iteration-count: infinite;
}

.skyl {
    background-image: url("skyl.png");
    background-repeat: no-repeat;
    background-size: 15vw;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 1vw;
    left: 100vw;

    animation-name: skyl;
    animation-duration: 30s;
    animation-delay: -15s;
    animation-iteration-count: infinite;
}

@keyframes skys {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

@keyframes skym {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

@keyframes skyl {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

/*----------------FIGURER----------------*/

.prinsesse {
    background-image: url("prinsesse.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 40vw;
    position: absolute;
    top: 25vw;
    left: 30vw;
    z-index: 4;

    animation-name: prinsesse;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

@keyframes prinsesse {
    0% {
        transform: translateX(-35vw);
    }

    50% {
        transform: translateX(0vw);
    }
}

.trold {
    background-image: url("trold.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30vw;
    height: 60vw;
    position: absolute;
    top: 16vw;
    left: 45vw;
    z-index: 4;

    animation-name: trold;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes trold {
    0% {
        transform: translateY(30vw) translateX(10vw);
    }

    40% {
        transform: translateX(10vw);
    }

    50% {
        transform: translateY(0vw)
    }

    100% {
        transform: translateX(0vw);
    }
}
