* {
    margin: 0;
}

/*-----------------STYLE-----------------*/

body {
    background-color: #f2c6ce;
}

main {
    background-color: white;
    padding: 1em;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

nav {
    margin: auto;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    margin: 1em;
}

a:hover {
    background-color: #f5e9eb;
}

.figurerparent {
    display: flex;
}

.figurerchild {
    flex-basis: 100px;
    flex-grow: 1;
}

/*-----------------SCENE-----------------*/

#baggrund {
    background-image: url("baggrund.png");
    background-size: cover;
    width: 100vw;
    height: 56vw;
    margin: auto;
    position: relative;
    overflow: hidden;
}

#mellemgrund {
    background-image: url("mellemgrund.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 2;
}

#forgrund {
    background-image: url("forgrund.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: 99;
}

#sky_s {
    background-image: url("skys.png");
    background-repeat: no-repeat;
    background-size: 20vw;
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 100vw;
    top: -5vw;

    animation-name: sky_s;
    animation-duration: 90s;
    animation-delay: -10s;
    animation-iteration-count: infinite;
}

@keyframes sky_s {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

#sky_m {
    background-image: url("skym.png");
    background-repeat: no-repeat;
    background-size: 20vw;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 0vw;
    left: 100vw;

    animation-name: sky_m;
    animation-duration: 60s;
    animation-delay: -15s;
    animation-iteration-count: infinite;
}

@keyframes sky_m {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

#sky_l {
    background-image: url("skyl.png");
    background-repeat: no-repeat;
    background-size: 15vw;
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 1vw;
    left: 100vw;

    animation-name: sky_l;
    animation-duration: 30s;
    animation-delay: -15s;
    animation-iteration-count: infinite;
}

@keyframes sky_l {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-120vw);
    }
}

/*----------------Prinsesse container----------------*/

#prinsesse_container {
    position: absolute;
    top: 22vw;
    z-index: 10;
}

/* Flytte anim: Prinsesse kommer ind */

.prinsesse_kommer_ind {
    animation-name: prinsesse_kommer_ind;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes prinsesse_kommer_ind {
    from {
        left: -20vw;
    }

    to {
        left: 40vw;
    }
}

/* Placering: Prinsesse er inde */

.position_ind {
    left: 40vw;
}

/* Flytte anim: Prinsesse løber */

.prinsesse_loeb {
    animation-name: prinsesse_loeb;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes prinsesse_loeb {
    from {
        left: 40vw;
    }

    to {
        left: 0vw;
    }
}

/*--------------------Prinsesse sprite-----------------*/

#prinsesse_sprite {
    background-image: url("prinsesse_sprite.svg");
    background-size: 800% 400%;
    width: 25vw;
    height: 35.75vw;
}

/* Sprite anim: Prinsesse går */

.prinsesse_gaar {
    animation-name: prinsesse_gaar;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes prinsesse_gaar {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: -800% 0%;
    }
}

/* Stilbillede: Prinsesse står */

.prinsesse_staar {
    background-position: 0 -300%;
}

/* Stilbillede: Prinsesse skriger */

.prinsesse_skriger {
    background-position: 0 -100%;
}

/* Sprite anim: Prinsesse løber */

.prinsesse_loeber {
    background-position: 0 -200%;
    transform: scaleX(-1);

    animation-name: prinsesse_loeber;
    animation-duration: 0.7s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes prinsesse_loeber {
    0% {
        background-position: 0 -200%;
    }
    100% {
        background-position: -800% -200%;
    }
}

/* Prinsesse fanget */

.prinsesse_fanget {
    background-position: 0;
}

/*------------------Trold container--------------------*/

#trold_container {
    position: absolute;
    z-index: 10;
}

/* Trold gemmer bag sten */

.trold_bag_sten {
    top: 60vw;
}

/* Flytte anim: Trold kommer frem */

.trold_kommer_frem {

    animation-name: trold_kommer_frem;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes trold_kommer_frem {
    from {
        left: 68vw;
        top: 40vw;
    }

    to {
        left: 68vw;
        top: 18vw;
    }
}

/* Flytte anim: Trold løber */

.trold_loeb {
    animation-name: trold_loeb;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes trold_loeb {
    from {
        left: 68vw;
        top: 18vw;
    }

    to {
        left: 20vw;
        top: 18vw;
    }
}

/* Trold har fanget prinsesse */

.trold_fanget_prinsesse {
    left: 20vw;
}

/*-------------------Trold sprite----------------------*/

#trold_sprite {
    background-image: url("trold_sprite.svg");
    background-size: 800% 200%;
    width: 28vw;
    height: 40.04vw;
    transform: scaleX(-1);
}

/* Trold front */

.trold_front {
    background-position: 0 100%;
}

/* Sprite anim: Trold løber */

.trold_loeber {
    background-position: 0 100%;
    transform: scaleX(-1);

    animation-name: trold_loeber;
    animation-duration: 2s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes trold_loeber {
    0% {
        background-position: 0% 200%;
    }
    100% {
        background-position: -800% 200%;
    }
}

/*------------------------Bur--------------------------*/

#bur {
    position: absolute;
    background-image: url(bur.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25vw;
    height: 40vw;
    z-index: 15;
}

.bur_oppe {
    top: -40vw;
}

.bur_kommer_ned {
    animation-name: bur_kommer_ned;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes bur_kommer_ned {
    from {
        top: -40vw;
        left: 1vw;
    }

    to {
        top: 18vw;
        left: 1vw;
    }
}

.bur_nede {
    top: 18vw;
    left: 1vw;
}
